<div class="container">

  <mat-expansion-panel hideToggle expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'TORRENT_DETAILS.GENERAL.transfer' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="transfer-container">
      <table></table>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel hideToggle expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'TORRENT_DETAILS.GENERAL.information' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>Information</p>

  </mat-expansion-panel>

</div>
