.toolbar {
  position: fixed;
  left: 0;
  top: 0;

  .dark-theme-toggle {
    display: flex;
    align-items: center;
    margin-left: 1rem;

    mat-slide-toggle {
      margin: 0 0.5rem;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}
