<div class="login-container">
  <mat-card>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <mat-card-title>
        <h1>rBitTorrent</h1>
      </mat-card-title>

      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            name="username"
            ngModel
            required
            [disabled]="loginStatus === requestStatus.LOADING">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            ngModel
            [disabled]="loginStatus === requestStatus.LOADING">
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions [align]="'end'">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loginStatus === requestStatus.LOADING"
        >
          Login
        </button>
      </mat-card-actions>

    </form>
  </mat-card>
</div>


<mat-spinner *ngIf="loginStatus === requestStatus.LOADING" color="accent" [diameter]="80"></mat-spinner>
