<router-outlet></router-outlet>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <mat-list-item (click)="navigate('home')">
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Home</h3>
      </mat-list-item>
      <mat-list-item (click)="navigate('settings')">
        <mat-icon matListIcon>settings</mat-icon>
        <h3 matLine>Config</h3>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="logout()">
        <mat-icon matListIcon>power_settings_new</mat-icon>
        <h3 matLine>Logoff</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
