<div class="component-container">
  <ng-scrollbar
    class="table-container"
    [track]="'all'"
    [visibility]="'hover'"
  >
    <table mat-table matSort [dataSource]="tableDataSource">

      <!--  checkbox-->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <div>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div>
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </div>
        </td>
      </ng-container>

      <!--  added_on-->
      <ng-container matColumnDef="added_on">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.added_on' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.added_on | uepoch | date}}</div>
        </td>
      </ng-container>

      <!--  amount_left-->
      <ng-container matColumnDef="amount_left">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.amount_left' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.amount_left | bytes: decimals}}</div>
        </td>
      </ng-container>

      <!--  auto_tmm-->
      <ng-container matColumnDef="auto_tmm">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.auto_tmm' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <fa-icon *ngIf="element.auto_tmm" [icon]="faCheckedCircle"></fa-icon>
            <fa-icon *ngIf="!element.auto_tmm" [icon]="faCircle"></fa-icon>
          </div>
        </td>
      </ng-container>

      <!--  availability-->
      <ng-container matColumnDef="availability">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.availability' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.availability | number: '1.0-' + decimals}}</div>
        </td>
      </ng-container>

      <!--  category-->
      <ng-container matColumnDef="category">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.category' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.category}}</div>
        </td>
      </ng-container>

      <!--  completed-->
      <ng-container matColumnDef="completed">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.completed' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.completed | bytes: decimals}}</div>
        </td>
      </ng-container>

      <!--  completion_on-->
      <ng-container matColumnDef="completion_on">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.completion_on' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.completion_on > 0">{{element.completion_on | uepoch | date}}</div>
        </td>
      </ng-container>

      <!--  content_path-->
      <ng-container matColumnDef="content_path">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.content_path' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.content_path}}</div>
        </td>
      </ng-container>

      <!--  dl_limit-->
      <ng-container matColumnDef="dl_limit">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.dl_limit' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.dl_limit | bytes: decimals}}/s</div>
        </td>
      </ng-container>

      <!--  dlspeed-->
      <ng-container matColumnDef="dlspeed">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.dlspeed' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.dlspeed | bytes: decimals}}/s</div>
        </td>
      </ng-container>

      <!--  downloaded-->
      <ng-container matColumnDef="downloaded">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.downloaded' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.downloaded | bytes: decimals}}</div>
        </td>
      </ng-container>

      <!--  downloaded_session-->
      <ng-container matColumnDef="downloaded_session">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.downloaded_session' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.downloaded_session | bytes: decimals}}</div>
        </td>
      </ng-container>

      <!--  eta-->
      <ng-container matColumnDef="eta">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.eta' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.eta >= 8640000 ? '∞' : element.eta | time}}</div>
        </td>
      </ng-container>

      <!--  f_l_piece_prio-->
      <ng-container matColumnDef="f_l_piece_prio">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.f_l_piece_prio' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <fa-icon *ngIf="element.f_l_piece_prio" [icon]="faCheckedCircle"></fa-icon>
            <fa-icon *ngIf="!element.f_l_piece_prio" [icon]="faCircle"></fa-icon>
          </div>
        </td>
      </ng-container>

      <!--  force_start-->
      <ng-container matColumnDef="force_start">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.force_start' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <fa-icon *ngIf="element.force_start" [icon]="faCheckedCircle"></fa-icon>
            <fa-icon *ngIf="!element.force_start" [icon]="faCircle"></fa-icon>
          </div>
        </td>
      </ng-container>

      <!--  hash-->
      <ng-container matColumnDef="hash">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.hash' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.hash}}</div>
        </td>
      </ng-container>

      <!--  last_activity-->
      <ng-container matColumnDef="last_activity">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.last_activity' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.last_activity > 0">{{element.last_activity | uepoch | date}}</div>
        </td>
      </ng-container>

      <!--  magnet_uri-->
      <ng-container matColumnDef="magnet_uri">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.magnet_uri' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element" style="cursor: pointer" (click)="copyToClipboard(element.magnet_uri)">
          <div>
            <fa-icon [icon]="faMagnet"></fa-icon>
          </div>
        </td>
      </ng-container>

      <!--  max_ratio-->
      <ng-container matColumnDef="max_ratio">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.max_ratio' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.max_ratio | number: "1.0-" + decimals}}</div>
        </td>
      </ng-container>

      <!--  max_seeding_time-->
      <ng-container matColumnDef="max_seeding_time">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.max_seeding_time' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.max_seeding_time | time}}</div>
        </td>
      </ng-container>

      <!--  name-->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.name' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.name}}</div>
        </td>
      </ng-container>

      <!--  num_complete-->
      <ng-container matColumnDef="num_complete">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.num_complete' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.num_complete}}</div>
        </td>
      </ng-container>

      <!--  num_incomplete-->
      <ng-container matColumnDef="num_incomplete">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.num_incomplete' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.num_incomplete}}</div>
        </td>
      </ng-container>

      <!--  num_leechs-->
      <ng-container matColumnDef="num_leechs">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.num_leechs' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.num_leechs}}</div>
        </td>
      </ng-container>

      <!--  num_seeds-->
      <ng-container matColumnDef="num_seeds">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.num_seeds' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.num_seeds}}</div>
        </td>
      </ng-container>

      <!--  priority-->
      <ng-container matColumnDef="priority">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.priority' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.priority}}</div>
        </td>
      </ng-container>

      <!--  progress-->
      <ng-container matColumnDef="progress">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.progress' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <progress [value]="element.progress" [max]="1">
              {{element.progress * 100 | number: "1.0-" + decimals}} %
            </progress>
          </div>
        </td>
      </ng-container>

      <!--  ratio-->
      <ng-container matColumnDef="ratio">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.ratio' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.ratio | number: "1.0-" + decimals}}</div>
        </td>
      </ng-container>

      <!--  ratio_limit-->
      <ng-container matColumnDef="ratio_limit">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.ratio_limit' | translate}}</div>
        </th>
        <td mat-cell
            *matCellDef="let element">
          <div>
            {{element.ratio_limit < 0 ? '∞' : element.ratio_limit | number: "1.0-" + decimals}}</div>
        </td>
      </ng-container>

      <!--  save_path-->
      <ng-container matColumnDef="save_path">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.save_path' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.save_path}}</div>
        </td>
      </ng-container>

      <!--  seeding_time_limit-->
      <ng-container matColumnDef="seeding_time_limit">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.seeding_time_limit' | translate}}</div>
        </th>
        <td mat-cell
            *matCellDef="let element">
          <div>
            {{element.seeding_time_limit < 0 ? '∞' : element.seeding_time_limit | time}}</div>
        </td>
      </ng-container>

      <!--  seen_complete-->
      <ng-container matColumnDef="seen_complete">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.seen_complete' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.seen_complete > 0">{{element.seen_complete | uepoch | date}}</div>
        </td>
      </ng-container>

      <!--  seq_dl-->
      <ng-container matColumnDef="seq_dl">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.seq_dl' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <fa-icon *ngIf="element.seq_dl" [icon]="faCheckedCircle"></fa-icon>
            <fa-icon *ngIf="!element.seq_dl" [icon]="faCircle"></fa-icon>
          </div>
        </td>
      </ng-container>

      <!--  size-->
      <ng-container matColumnDef="size">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.size' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.size | bytes: decimals}}</div>
        </td>
      </ng-container>

      <!--  state-->
      <ng-container matColumnDef="state">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.state' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{'TORRENT_INFO.STATES.' + element.state | translate}}</div>
        </td>
      </ng-container>

      <!--  super_seeding-->
      <ng-container matColumnDef="super_seeding">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.super_seeding' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <fa-icon *ngIf="element.super_seeding" [icon]="faCheckedCircle"></fa-icon>
            <fa-icon *ngIf="!element.super_seeding" [icon]="faCircle"></fa-icon>
          </div>
        </td>
      </ng-container>

      <!--  tags-->
      <ng-container matColumnDef="tags">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.tags' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.tags}}</div>
        </td>
      </ng-container>

      <!--  time_active-->
      <ng-container matColumnDef="time_active">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.time_active' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.time_active | time}}</div>
        </td>
      </ng-container>

      <!--  total_size-->
      <ng-container matColumnDef="total_size">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.total_size' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.total_size | bytes: decimals}}</div>
        </td>
      </ng-container>

      <!--  tracker-->
      <ng-container matColumnDef="tracker">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.tracker' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.tracker}}</div>
        </td>
      </ng-container>

      <!--  up_limit-->
      <ng-container matColumnDef="up_limit">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.up_limit' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.up_limit | bytes: decimals}}/s</div>
        </td>
      </ng-container>

      <!--  uploaded-->
      <ng-container matColumnDef="uploaded">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.uploaded' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.uploaded | bytes: decimals}}</div>
        </td>
      </ng-container>

      <!--  uploaded_session-->
      <ng-container matColumnDef="uploaded_session">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.uploaded_session' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.uploaded_session | bytes: decimals}}</div>
        </td>
      </ng-container>

      <!--  upspeed-->
      <ng-container matColumnDef="upspeed">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          <div>{{'TORRENT_INFO.upspeed' | translate}}</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div>{{element.upspeed | bytes: decimals}}/s</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </ng-scrollbar>

  <mat-paginator [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>

</div>
